{% extends 'users/base.html' %} 
{% block title %} {{page_title}} {% endblock title %}
{% block contents %}

<div class="container">
    <h1 class="text-center">রেজিস্ট্রেশন</h1>
    {% for message in messages %}

        {% if message.tags == 'error' %}
            <div class="alert-danger">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                <strong>{{message}}</strong>
            </div>
        {% elif message.tags == 'success' %}
            <div class="alert-success">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                <strong>{{message}}</strong>
            </div>
        {% endif %}
    {% endfor %}
  <div class="col-md-12 m-4 border rounded p-5">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="row">
        <div class="col-md-4 form-group mb-2 fs-3">
          <label for="name" class="placeholder">নাম*</label>
          {{ form.name }}
        </div>
        <div class="col-md-4 form-group  mb-2 fs-3">
          <label for="email" class="placeholder">ইমেইল*</label>
          {{ form.email }}
        </div>
        <div class="col-md-4 form-group mb-2 fs-3">
          <label for="father_name" class="placeholder">পিতার নাম</label>
          {{ form.father_name }}
        </div>
        <div class="col-md-4 form-group mb-2 fs-3">
          <label for="education_qualification" class="placeholder">শিক্ষাগত যোগ্যতা</label>
          {{ form.education_qualification }}
        </div>
        <div class="col-md-4 form-group mb-2 fs-3">
          <label for="phone" class="placeholder">মোবাইল*</label>
          {{ form.phone }}
        </div>
        <div class="col-md-4 form-group mb-2 fs-3">
          <label for="image" class="placeholder">ছবি</label>
          {{ form.image }}
        </div>
        <div class="col-md-12 text-center mt-2">
          <button type="submit" class="btn btn-success ">সেভ</button>
        </div>

      </div>
    </form>
  </div>
  <div class="bottom-link">
    আপনার কি একাউন্ট আছে? 
    <a href="{% url 'user:login' %}">
      লগইন
    </a>  
  </div>
</div>
{% endblock contents %}
